html, body{
  margin: 0;
  padding: 0;
  font-family: Varela Round
}

h3 {
  margin-top: 0.1em;
  padding-left: 0.2em;
}

.hidden {
  display: none;
}

.whole-form{
  position: relative;
  width: 100%;
  border-radius: 3%;
  min-height: 70vh;
}

.all-details{
  background-color: rgba(229,0,125,0.1);
  height: 20em;
  text-align: center;
  padding: 2em;
  width: 100%;
}

.all-details > input {
  /*margin-bottom: 1em;*/
  border: none;
  border: 0.1em solid #6d6d6b;
  text-align: center;

  /*padding-left: 2em;*/
}

.all-questions{
  margin-bottom: 1em;
  padding: 0;
}

.detail-label {
  text-align: left;
}

.details-heading {
  text-align: left;
  text-transform: uppercase;
}

.questions-heading {
  text-transform: uppercase;
}

.section{
  margin-top: 0.2em;
  background-color: white;
  border-bottom: solid #6d6d6b 0.1em;
}

header {
  width: 100%;
  height: 4em;
  background-color: #E5007D;
}

.heading {
  margin-top: 0;
  margin-bottom: 1.5em;
  text-transform: uppercase;
}

.home-link {
  width: auto;
  height: 100%;
  margin-left: 5em;
}

.glyphicon{
  font-size: 0.8em;
  padding-right: 0.5em;
  float: right;
}

.one{
  color: #fabb4d;
}

.two{
  color: #e5007d;
}

.three {
  color: #7f569f;
}

.four {
  color: #75bb49;
}

.five {
  color: #50b9a7;
}

.six {
  color: #009ee3;
}

.active {
  padding: 1em;

}
.question{
  margin-top: -1.9em;
  margin-left: 1em;
}

.answers{
  /*background-color: green;*/
  width: 50%;
  margin: auto;
  margin-top: -2em;
}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

label > input + img { /* IMAGE STYLES */
  cursor:pointer;
  background-size:contain;
  background-repeat:no-repeat;
  display:inline-block;
  -webkit-o-transition: all 100ms ease-in;
  -moz-o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  /*-webkit-filter:  grayscale(0.5);*/
  /*color: red;*/
  height: 6em;
  width: 6em;
}

label > input:hover + img { /* HIDE RADIO */
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
     -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
          filter: brightness(1.2) grayscale(.5) opacity(.9);
}

label > input:checked + img { /* (RADIO CHECKED) IMAGE STYLES */
  -webkit-filter: none;
     -moz-filter: none;
          filter: none;
  width: 3em;
  height: 3em;
  background-color: #ffbd28;
  border-radius: 50%;
  box-shadow: 10px 10px 5px #888888;
  margin: 1.5em;
}

/*collapsing*/

.collapsed{
  height: 3em;
  overflow: hidden;
  padding-top: 0.5em;
  transition: all 0.3s;
  cursor: pointer;
}

.collapsed:hover{
  background-color: #E8E8E8;
}

.wheel {
  text-align: center;
  width: 100%;
 }

.button {
  background-color: #ea5c37;
  border-color: #ea5c37;
}

.inactive, .inactive:hover {
  background-color: grey;
  border-color: grey;
}

.highlight{
  opacity: 0.5;
}

.student-details {
  /*width: 30%;*/
  /*margin-right: 10em;*/
}
/*.section:after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #333;
}*/
